Unity/Physics simulation/Library/TempArtifacts/
Unity/Physics simulation/Library/PackageCache/
Unity/Physics simulation/Library/ShaderCache/
Unity/Physics simulation/Library/StateCache/
Unity/Physics simulation/Library/Artifacts/
