Unity/Physics simulation/Library/TempArtifacts/
Unity/Physics simulation/Library/ShaderCache/
Unity/Physics simulation/Library/StateCache/
Unity/Physics simulation/Library/Artifacts/
Unity/Physics simulation/Library/
Unity/Physics simulation/Build/
Unity/Physics simulation/Temp/
